<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery.form/4.2.1/jquery.form.min.js"></script>

</head>
<body>

<form id="form-photo" method="POST" enctype="multipart/form-data">
     {{ form.hidden_tag() }}
     {{ form.photo }}
     {% for error in form.photo.errors %}
         <span style="color: red;">{{ error }}</span>
     {% endfor %}
     {{ form.submit }}
</form>

{% if file_url %}
<br><img src="{{ file_url }}">
{% endif %}

<button id="submit" type="submit" action="/admin/submit">提交</button>

<script type=text/javascript>
    $(function () {
        $('button#submit').click(function () {
            $.ajax({
                type: 'post',
                //contentType: "application/json; charset=UTF-8",
                url: 'submit',
                dataType: 'json',
                data: JSON.stringify({
                    'file': '{{ file_url }}',
                }),
                error: function (xhr, err) {
                    alert('请求失败，原因可能是：' + err + '！')
                },
                success: function (data, textStatus) {

                }
            });
        })
    })
</script>



</body>
</html>